{% import "bootstrap/wtf.html" as wtf %}

{% block styles %}
    <link rel="stylesheet" href="{{url_for('static', filename='signin.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/style.css') }}"/>
{% endblock %}

{% block content %}
    <header class="header">
	    <nav class="navbar fixed-top">
            <a class="logo-link" href="index.html">

		    </a>
		    <div class="navbar__menu">
		        <button class="hamburger" type="button">
				    <span></span>
					<span></span>
				</button>
			    <ul class="nav">
				    <li class="nav__item"><a class="nav__link" href="{{ url_for('auth.index') }}"><span data-hover="Home">Home</span></a></li>
				    <li class="nav__item"><a class="nav__link" href="{{ url_for('auth.resourceList') }}"><span data-hover="Resource">Resources</span></a></li>
				    <li class="nav__item"><a class="nav__link" href="{{ url_for('auth.publish') }}"><span data-hover="Publish">Publish</span></a></li>
                    <li class="nav__item"><a class="nav__link" href="blog.html"><span data-hover="Blog"></span></a></li>

			    </ul>
	        </div>
		    <div class="navbar__btn">

		    </div>
	    </nav>
	</header>
    <main class="main">
        <section class="container section section-first">
        {% for message in get_flashed_messages() %}
            <div class="alert alert-warning">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ message }}
            </div>
            {% endfor %}
           <form class="form-signin" method="POST" action="/login">
            <h2 class="form-signin-heading">Please sign in</h2>

            {{ form.hidden_tag() }}
            {{ wtf.form_field(form.username) }}
            {{ wtf.form_field(form.password) }}
            {{ wtf.form_field(form.remember) }}
            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
            <a href="{{ url_for('auth.signup') }}">Switch to register</a>
          </form>

        </section>
    </main>
{% endblock %}